@keyframes flashAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .flash-header {
    animation: flashAnimation 3s;
    color: whitesmoke;
    font-weight: bold;
  }

  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .btn-3d {
    box-shadow: -3px 3px 0 rgba(54, 54, 54, 0.25), 0 2px 5px rgba(0, 0, 0, 0.25);
    color: white;
  }
  
  .shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  